
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --font-logo: "Days One", "cursive";

  /* colors */
  --color-bckg-blue: #202F55;
  --color-accent-cyan: #40F3F7;
  --color-secondary-blue: #4F669D;
  --color-bckg-light: #F8FAFC;
  --color-border-light: #D6E3EC;
  --color-text-secondary: #A6B1B9;

  /* custom spacing and sizing for tailwind */
  --spacing-header: 80px;
  --spacing-sub-nav: 60px;

  /* paddings */
  --padding-y-header: 20px;
  --padding-x-header: 40px;
}

@layer utilities {
  .h-sub-nav {
    height: var(--spacing-sub-nav);
  }

  .p-header {
    padding: var(--padding-y-header) var(--padding-x-header);
  }

  .font-logo {
    font-family: var(--font-logo);
  }
}

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}