
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --font-logo: "Days One", "cursive";

  /* colors */
  --color-bckg-blue: #202F55;
  --color-accent-cyan: #40F3F7;
  --color-secondary-blue: #4F669D;
  --color-bckg-light: #F8FAFC;
  --color-border-light: #D6E3EC;
  --color-text-secondary: #A6B1B9;

  /* custom spacing and sizing for tailwind */
  --spacing-header: 80px;
  --spacing-sub-nav: 60px;

  /* paddings */
  --padding-y-header: 20px;
  --padding-x-header: 40px;
}

@layer utilities {
  .h-header {
    height: var(--spacing-header);
  }

  .h-sub-nav {
    height: var(--spacing-sub-nav);
  }

  .p-header {
    padding: var(--padding-y-header) var(--padding-x-header);
  }

  .font-logo {
    font-family: var(--font-logo);
  }
}

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .container-wrapper {
    height: 1080px;
    padding: 0 calc((100% - 1480px) / 2);
    max-width: 100%;
  }

  .control-button {
    @apply border border-gray-300 text-xl;
  }

  .grid-table {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, minmax(0, 1fr)) 50px;
  }

  .row-table {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  .cell-table {
    @apply border border-gray-300 p-4 text-text-secondary font-medium;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 1;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 6px;
  }

  .cell-table--independent {
    @apply flex items-center justify-center;
  }

  .cell-table--active-month {
    @apply text-black;
  }

  .cell-points {
    @apply text-xs font-normal;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  .cell-table + .cell-table {
    border-left: none;
  }

  .cpa-network {
    @apply relative;
  }

  .button {
    @apply inline-flex items-center justify-center font-medium cursor-pointer transition-colors rounded;
  }

  .button:hover {
    @apply text-accent-cyan;
  }

  .link {
    @apply transition-colors relative;
  }

  .link:hover {
    @apply text-accent-cyan;
  }

  .tab-border::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(var(--padding-y-header) * -1);
    transform: translate(-50%, -50%);
    width: 140%;
    height: 2px;
    background-color: var(--color-accent-cyan);
  }
  
  .cpa-network::before {
    position: absolute;
    content: '';
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 150%;
    background-color: var(--color-secondary-blue);
    border: 1px solid var(--color-secondary-blue);
  }

  .disclosure-arrow {
    @apply relative cursor-pointer pr-2.5;
  }

  .disclosure-arrow::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 1px;
    height: 5px;
    background-color: var(--color-secondary-blue);
    border: 1px solid var(--color-secondary-blue);
    transition: transform 0.2s;
  }

  .disclosure-arrow::after {
    content: '';
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 1px;
    height: 5px;
    background-color: var(--color-secondary-blue);
    border: 1px solid var(--color-secondary-blue);
    transition: transform 0.2s;
  }

  .disclosure-arrow:hover::before {
    transform: translateY(-50%) rotate(45deg);
  }
  
  .disclosure-arrow:hover::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}